<div id="content">
    <div id="price-list">
        <div id="ticker">
            <div id="current">
              $<span class="value">?</span> USD / {{market | uppercase}}
            </div><br>
            <div id="bid"><span style="color: #0f0">high</span>:
                <span id="current-bid">{{price_high | currency}}</span>
            </div>
            <div id="ask"><span style="color: #f00">low</span>:
                <span id="current-ask">{{price_low | currency}}</span>
            </div>
        </div>
        <div id="table-div">
            <table id="trades">
                <tbody>
                    <tr id="table-header">
                        <th>Time</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
    </div>

    <h3 style="color: #999;">$<span class="value">???</span> USD / {{market | uppercase}} on {{exchange}}</h3>

    <div class="graph-container">
        <div id="price-overtime" class="chart"></div>
    </div>

    <p class="message" style="color: #333">You can zoom and drag on the chart to explore data</p>
</div>
