<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="crypto-chart">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Crypto Price Ticker &amp; Chart</title>
    <link href="app/client/css/background.css" rel="stylesheet" type="text/css">
    <link href="app/client/css/chart.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/excanvas.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
    <!--<script language="javascript" type="text/javascript" src="./flot/jquery.flot.downsample.js"></script>-->
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.fillbetween.min.js"></script>
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.navigate.min.js"></script>
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.resize.min.js"></script>
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
    <script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script language="javascript" type="text/javascript" src="//cdn.socket.io/socket.io-1.2.0.js"></script>
    <script language="javascript" type="text/javascript" src="app/client/js/app.js"></script>
</head>
<body ng-controller="MainCtrl">
    <div id="header">
        <div id="header-wrap">
            <span id="title-box">
                <div id="title">Crypto Price Ticker</div>
                <div id="punchline">with Charts!</div>
            </span>
            <span id="selections">
                <div id="currency">
                  <span ng-repeat="(coin, exchanges) in markets" id="{{coin}}">
                    {{coin | uppercase}}
                  </span>
                </div>
                <div ng-repeat="(coin, exchanges) in markets" class="exchange" id="{{coin}}">
                  <a href="#/{{coin}}/{{exchange}}" ng-repeat="exchange in exchanges" id="{{exchange}}">
                    {{exchange}}
                  </a>
                </div>
            </span>
        </div>
    </div><br>

    <div ng-view></div>

    <div class="stars"></div>
    <div class="twinkling"></div>

    <div id="footer">
        Donate DOGE: DNMX219Ya8Px9ALWrHb5Mfdqky6kVaCbR6<br>
        &copy; 2014 Sunnyok<br>
    </div>
</body>
</html>
